@model DataAccess.Entity.Öğretmen
@{
    
    Layout = "~/Areas/Öğretmen/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-md-6 mx-auto">
    <form method="post">
        <div class="mt-2">
            @Html.LabelFor(x => x.Ad)
            @Html.ValidationMessageFor(x => x.Ad)
            @Html.TextBoxFor(x => x.Ad, null, new { @class = "form-control" })
        </div>
        <div class="mt-2">
            @Html.LabelFor(x => x.Soyad)
            @Html.ValidationMessageFor(x => x.Soyad)
            @Html.TextBoxFor(x => x.Soyad, null, new { @class = "form-control" })
        </div>
        <div class="mt-2">
            @Html.LabelFor(x => x.Görevi)
            @Html.ValidationMessageFor(x => x.Görevi)
            @Html.TextBoxFor(x => x.Görevi, null, new { @class = "form-control" })
        </div>
        <div class="mt-2">
            @Html.LabelFor(x => x.Sırası)
            @Html.ValidationMessageFor(x => x.Sırası)
            @Html.TextBoxFor(x => x.Sırası, null, new { @class = "form-control" })
        </div>

        <button class="btn btn-primary">Değiştir</button>
    </form>
</div>

